{{template "base" .}}
{{ define "title"}}
    About Page
{{end}}
{{define "content" }}
    <div class="container">
        <div class="row">
            <h1>About Fort Smythe</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-8 text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, assumenda debitis
                    dolor dolorem doloribus ducimus earum fuga, laborum, modi necessitatibus perferendis possimus
                    ullam ut vel voluptatem. Aliquid assumenda, consectetur distinctio dolor ducimus eaque error et
                    eveniet facere facilis maiores nam natus nesciunt obcaecati odio omnis praesentium provident
                    quaerat quo rem rerum temporibus voluptates! Et laboriosam nemo repellendus similique?dolor
                    dolorem doloribus ducimus earum fuga, laborum, modi necessitatibus perferendis possimus
                    ullam ut vel voluptatem. Aliquid assumenda, consectetur distinctio dolor ducimus eaque error et
                    eveniet facere facilis maiores nam natus nesciunt obcaecati odio omnis praesentium provident
                    quaerat quo rem rerum temporibus voluptates! Et laboriosam nemo repellendus similique?</p>
            </div>
            <div class="col-4">
                <img src="/static/images/marjors-suite.png" alt="" srcset=""
                     class="img-thumbnail mx-auto d-block">
            </div>
        </div>
        <div class="row">
            <div class="col mt-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, assumenda debitis
                    dolor dolorem doloribus ducimus earum fuga, laborum, modi necessitatibus perferendis possimus
                    ullam ut vel voluptatem. Aliquid assumenda, consectetur distinctio dolor ducimus eaque error et
                    eveniet facere facilis maiores nam natus nesciunt obcaecati odio omnis praesentium provident
                    quaerat quo rem rerum temporibus voluptates! Et laboriosam nemo repellendus similique?dolor
                    dolorem doloribus ducimus earum fuga, laborum, modi necessitatibus perferendis possimus
                    ullam ut vel voluptatem. Aliquid assumenda, consectetur distinctio dolor ducimus eaque error et
                    eveniet facere facilis maiores nam natus nesciunt obcaecati odio omnis praesentium provident
                    quaerat quo rem rerum temporibus voluptates! Et laboriosam nemo repellendus similique?</p>
            </div>
        </div>

    </div>


{{end}}