{{template "base" .}}
{{ define "title"}}
    Generals Room
{{end}}
{{define "content" }}
        <div class="container">
            <div class="row">
                <div class="col mt-3">
                    <img
                            src="/static/images/generals-quarters.png"
                            alt="General"
                            class="img-fluid img-thumbnail mx-auto d-block half-width"
                            srcset=""
                    />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-4">General's Quarters</h1>
                    <p>
                        You're home away from home, set on the majestic waters of the
                        Atlantic ocean, this will be a vacation to remember.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aliquid
                        nostrum esse adipisci ab suscipit pariatur rerum debitis explicabo
                        reprehenderit quia officia voluptatem molestias ipsam, recusandae
                        ullam nulla mollitia, repellendus quisquam, consectetur aut.
                        Accusamus harum inventore aut esse fuga iusto! Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit. Et aliquid nostrum esse adipisci
                        ab suscipit pariatur rerum debitis explicabo reprehenderit quia
                        officia voluptatem molestias ipsam, recusandae ullam nulla mollitia,
                        repellendus quisquam, consectetur aut. Accusamus harum inventore aut
                        esse fuga iusto!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="#!" id="check-availability-button" class="btn btn-success">
                        Check Availability....
                    </a>
                </div>
            </div>
        </div>


{{end}}
{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener('click',function () {
            // notify("This is a test message!","success");
            // notifyModal("Success Text","<em>Hello, World!</em>",'success',"My Text For The Button")
            // attention.toast({msg:"Hello, world!",icon:'error'})
            // attention.success({msg:"Hello, world!"});
            //attention.error({msg:"Hello, world!"});
            let html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">

                  <div class="row container-fluid" id="reservation-date-modal">
                        <div class="col">
                        <label for="start-test"> Starting Date: </label>
                        <input type="text" class="form-control mt-2" autocomplete="off" id="start-test" name="start-test" placeholder="Arrival" disabled required>
                        </div>
                        <div class="col">
                        <label for="end-test">Ending Date: </label>
                        <input type="text" class="form-control mt-2" autocomplete="off" id="end-test" name="end-test" placeholder="Departure" disabled required>
                        </div>
                  </div>


          </form>
          `;
            attention.custom({msg:html, title:"Form Test!"});
        })

    </script>
{{end}}