{{template "base" .}}
{{ define "title"}}
    Generals Room
{{end}}
{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <img
                        src="/static/images/generals-quarters.png"
                        alt="General"
                        class="img-fluid img-thumbnail mx-auto d-block half-width"
                        srcset=""
                />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    You're home away from home, set on the majestic waters of the
                    Atlantic ocean, this will be a vacation to remember.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aliquid
                    nostrum esse adipisci ab suscipit pariatur rerum debitis explicabo
                    reprehenderit quia officia voluptatem molestias ipsam, recusandae
                    ullam nulla mollitia, repellendus quisquam, consectetur aut.
                    Accusamus harum inventore aut esse fuga iusto! Lorem ipsum dolor sit
                    amet consectetur, adipisicing elit. Et aliquid nostrum esse adipisci
                    ab suscipit pariatur rerum debitis explicabo reprehenderit quia
                    officia voluptatem molestias ipsam, recusandae ullam nulla mollitia,
                    repellendus quisquam, consectetur aut. Accusamus harum inventore aut
                    esse fuga iusto!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#!" id="check-availability-button" class="btn btn-success">
                    Check Availability....
                </a>
            </div>
        </div>
    </div>


{{end}}
{{define "js"}}
    <script>
        SearchAvailJson("1",{{.CSRFToken}})
    </script>
{{end}}