{{template "base" .}}
{{ define "title"}}
    <title>Home Page</title>
{{end}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is The Home Page</h1>
                <p>This is The Home Page We created earlier</p>
            </div>
        </div>
    </div>
{{end}}