{{template "base" .}}
{{ define "title"}}
    Reservation Summary
{{end}}
{{define "content" }}
    <div class="container">
        {{/* in tmpl when using map we use index*/}}
        {{$res := index .Data "reservation"}}
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Reservation Summary</h1>
                <hr>
                <table class="table table-striped">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$res.FirstName}} {{$res.LastName}}</td>
                    </tr>
                    <tr>
                        <td>
                            Room Name:
                        </td>
                        <td>
                            {{$res.Room.RoomName}}
                        </td>
                    </tr>
                    <tr>
                        <td>Arrival:</td>
                        <td>{{index .StrMap "start_date"}}</td>
                    </tr>
                    <tr>
                        <td>Departure:</td>
                        <td>{{index .StrMap "end_date"}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{$res.Phone}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{{end}}